# Purpose

This notebook demonstrates how to accomplish common data manipulation tasks using both SQL and pandas in Python. Since pandas is often described as "SQL for Python," many operations can be performed with either tool. This comparison is especially useful for interview preparation, as platforms like LeetCode frequently allow toggling between pandas and SQL solutions for the same problem.

By exploring both approaches side-by-side, you'll gain a deeper understanding of how these tools work and develop proficiency with both methods. Happy learning!

# Libraries

In [1]:
# Insert python libraries
import pandas as pd
import duckdb

# Loading data into dataframe

In [2]:
df = pd.read_csv("test.csv")

# Create SQL function

In [ ]:
# This makes it so the SQL cells look cleaner
def SQL(query: str):
    display(duckdb.sql(query).df())

# Head of data

In [4]:
# Pandas
df.head()

   a  b  c
0  d  e  f
1  g  h  i

In [6]:
# SQL
SQL("""

SELECT *
FROM df
LIMIT 5;

""")

   a  b  c
0  d  e  f
1  g  h  i